# LaTeX temporäre Dateien
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.lof
*.lot
*.lol

# Kompilierte PDFs
/out
*.pdf

# Editor-spezifisch
.vscode/
*.swp
*~
/.idea/
