name: COMPILEandRELEASE.yaml
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          args: -pdf -interaction=nonstopmode -file-line-error

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: main.pdf
          body: |
            Studienarbeit II von Alexander Betke und Theo Leuthardt
            **Kompiliert am:** ${{ github.event.head_commit.timestamp }}
            **Commit:** ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}